version: "3.9"

services:
  casa:
    image: casa_dev:latest
    container_name: casa
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8088:8080"
    env_file:
      - .env